.col{
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  width: 62px;
  /* &:nth-child(odd) {
    margin-top: 36px;
  } */
  transform-style: preserve-3d;
}

.col:nth-child(odd) {
  margin-top: 32px;
}
