.cell {
  height: 62px;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5vh;
  transform-style: preserve-3d;
  opacity: 0.5;
  cursor: pointer;
}
.cell.active,
.cell:hover {
  opacity: 1;
}
/* .cell:hover .left{
  border-right: 18px solid #03A9F4;
}
.cell:hover .content{
  background-color: #03A9F4;
}
.cell:hover .right{
  border-left: 18px solid #03A9F4;
} */

.left {
  transition: border-right-color 200ms ease-in;
  right: -18px;
  border: 31px solid transparent;
  border-right: 18px solid #ffbc06;
  margin-right: 18px;
  pointer-events: none;
}
.content {
  transition: background-color 200ms ease-in;
  width: 36px;
  background-color: #ffbc06;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
}
.right {
  transition: border-left-color 200ms ease-in;
  left: -18px;
  border: 31px solid transparent;
  border-left: 18px solid #ffbc06;
  margin-left: 18px;
  pointer-events: none;
}
.middle {
  position: absolute;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.optional.single .content {
  background-color: rgb(70, 200, 100);
}
.optional.single .left {
  border-right-color: rgb(70, 200, 100);
}
.optional.single .right {
  border-left-color: rgb(70, 200, 100);
}

.optional.double .content {
  background-color: rgb(70, 150, 100);
}
.optional.double .left {
  border-right-color: rgb(70, 150, 100);
}
.optional.double .right {
  border-left-color: rgb(70, 150, 100);
}
