.cell{
  height: 11vh;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5vh;
}

.left{
  position: absolute;
  right: 49%;
  border: 5.5vh solid transparent;
  border-right: 3.3vh solid #ffbc06;
  margin-right: 3.3vh;
}
.content{
  width: 50%;
  background-color: #ffbc06;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right{
  position: absolute;
  left: 49%;
  border: 5.5vh solid transparent;
  border-left: 3.3vh solid #ffbc06;
  margin-left: 3.3vh;
}
